*{
  font-family: 'Gentleman-PersonalUse', sans-serif; /* personal use licensed */
}

body{
  background: rgb(49,124,184);
  background: linear-gradient(90deg, rgba(49,124,184,1) 0%, rgba(136,70,172,1) 100%); 
}
.card{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  
}
.card h1{
  font-size: 25px;
  color: black;
  margin: auto;
  height: 25px;
}

.input-area{
  width: 100%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-color:#d6d6d6;
  background-color: white;
  outline: none;
  color: #d6d6d6;
  border-bottom-width: 3px;
}

.divider{  
  width: 27vw;
  flex-grow: 1;
  height: 1px;
  background-color: #d6d6d6;
}
.credentials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  row-gap: 20px;
  box-shadow:0px 0px 25px 5px #00000024
}

#forgot{
width: 100%;
color: #d6d6d6;
font-size: 14px;
text-decoration: none;
}

#login{
  width: 100%;
  height: 40px;
  background-color: #2691d9;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  border-style: hidden;
  outline: none;
  cursor: pointer;
}
.sign-up{
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  column-gap: 5px;
}

.sign-up a{
  color: #2691d9;
  font-size: 16px;
  text-decoration: none;
}

.sign-up p {
  font-size: 14px;
}